@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@mixin center{
    display: flex;
    justify-content: center;
    // align-items: center;
}

.app{
    @include center; 

}

.sidebar{
    display: flex;
    height: 95vh;
    flex-direction: column;
    justify-content: space-between;
}